bbox
cartopy > 0.20.0
dask
datacube
geographiclib < 2.0
geopandas
geovectorslib
global_land_mask
lxml
git+https://github.com/52North/maridatadownloader
matplotlib
netcdf4 == 1.5.8
numpy == 1.26.0
pandas
Pillow
pymoo>=0.6.1
QtPy
scikit-image
scipy>=1.10.0
seaborn
shapely
sqlalchemy
xarray
