astropy
cartopy>0.20.0
dask
datacube
geopandas
global_land_mask
git+https://github.com/52North/maridatadownloader
matplotlib
netcdf4
numpy
pandas
pymoo>=0.6.1
scikit-image
scipy>=1.10.0
seaborn
sqlalchemy>1.4.51
xarray