astropy
geographiclib
geovectorslib@git+https://github.com/52North/geovectors
maridatadownloader@git+https://github.com/52North/maridatadownloader
numpy
pandas
pymoo>=0.6.1
scipy>=1.10.0
sqlalchemy>1.4.51
xarray
